html {
    background-color: pink;
    font-family: arial;
}

header {
    background-color: rgb(253, 230, 230);
}

#linha {
    display: flex;
    border: 5px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;

}

.nomeab {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    padding: 5px 0px 10px 10px;

}

.sigla {
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    padding: 0px;
    position: fixed;
    background-color: rgb(80, 186, 172);
}

.sigla a {
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

#links {
    display: flex;
    border: 1px solid yellow;
    justify-content: center;
    margin-top: 50px;
    background-color: blueviolet;
}



a {
    color:rgb(167, 121, 121);
}

.b {
    display: inline-block;
   
    border: 1px solid white;
    padding: 1px;
    margin: 8px;
}
