html {
    background-color: rgb(202, 133, 35);
    font-family: arial;

    
}

header {
    background-color: rgb(253, 230, 230);
}



.nomeab {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;

}

.sigla {
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    padding: 0px;
    position: fixed;
    background-color: rgb(187, 126, 86);
    top: 0;
}

.sigla a {
    background-color: #fff;
    
}

#links {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.fotoprincipal {
    width: 100%;
    margin-top: 45px;
}


a {
    color: black;
}

.b {
    display: inline-block;

    padding: 1px;
    margin: 8px;
}
