html {
    background-color: black;
}

p {
    font-family: Arial;
}

.fotoperfil {
    border: 2px solid red;
    border-radius: 100px;
    margin: 50px 50px 50px 50px
}

.header {
    display: flex;
    border: 1px solid red;
}

.titulo {
    border: 1px solid red;
    display: flex;
    color: white;
    font-family: arial;
    font-size: 25px;
    margin: 30px 10px 10px 0px;

}

.seguir {
    display: inline-block;
    color: white;
    background-color: rgb(29, 123, 190);
    margin: 30px 10px 10px 10px;
    border: 1px solid rgb(29, 123, 190);
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    width: fit-content;
}

.mensagem {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    margin: 30px 0px 0px 0px;
    border: 1px solid rgb(61, 61, 61);
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    width: fit-content;

}

.bonequin {
    display: flex;
    border-radius: 10px;
    margin: 30px 0px 0px 9px;
}